.env
.idea
.DS_Store
.phpstorm*
_ide_helper*
.phpstorm.meta.php
/docs
/public/css
/public/js
/resources/assets/css
/resources/assets/vendor
/tests/database.sqlite
/vendor
dredd.*
git_*
Homestead.*
node_modules
npm-debug.log