.sidebar__article {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    a {
      padding: 0.5rem;
      display: block;
    }

    a:hover,
    a:active,
    a:focus {
      border-radius: 3px;
      background-color: darken($color_background, 10%);
      transition: all 0.3s ease;
    }

    &.active>a {
      border-radius: 3px;
      background-color: $color_background;
    }
  }

  .badge {
    float: right;
    margin-right: 1rem;
  }

  form {
    margin-bottom: 30px;
  }
}

.tags__article,
.attachment__article {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 100;
  font-size: $font_size_small * 0.8;

  li {
    display: inline-block;
  }

  li:not(:first-child) {
    padding: 4px 8px;
    background-color: $color_background;
    border-radius: 3px;

    &:hover {
      background-color: darken($color_background, 10%);
    }
  }
}

.sidebar__article,
.tags__article,
.attachment__article {
  a {
    color: $color_black;
    text-decoration: none;
  }
}

.content__article {
  margin: $margin_wide 0;
}

.paginator__article {
  margin-top: $margin_wide;
}

.icon__article {
  margin-left: 10px;
}

.meta__article {
  font-size: $font_size_small;
}

.content__article {
  img {
    display: block;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
    transition: all .2s ease-in-out
  }
}

.media__edit__comment,
.media__create__comment.sub {
  display: none;
}

.form__new__comment,
.list__comment {
  .form-group {
    width: 100%;
    margin: auto;
  }

  div.text-right {
    margin: 10px auto;
  }
}

.content__comment {
  p {
    margin: 0;
  }
}

.action__comment {
  button, span {
    color: $color_muted;
    font-size: $font_size_small * 0.8;
    font-weight: 400;
    text-decoration: none;
  }

  button {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
  }

  button:hover,
  button:active,
  button:focus {
    color: darken($color_muted, 20%);
    transition: all .2s ease-in-out
  }

  &>span {
    margin: 0 5px;
  }
}

.item__comment.top {
  padding: 1rem;
  border-radius: 4px;
  position: relative;
  overflow: visible;
  float: right;
  width: 100%;
  border: 1px solid $color_background;
}

.link__login__comment {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 3px;
  border: 1px solid $color_background;
  width: 100%;
}

.dropzone,
.select2-dropdown,
.select2-container--default .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.select2-container,
.select2-container--default .select2-selection--multiple {
  font-size: 14px;
}

.dropzone {
  display: none;
}

label[for=my-dropzone]>small {
  cursor: pointer;
}

.preview__content {
  display: none;
  margin-top: $margin_narrow;
  height: auto;
  @extend .form-control;
  box-shadow: none;
}