@charset "utf-8";

@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../../../node_modules/font-awesome/scss/font-awesome';

$color_brand_primary: #325D88;
$color_brand_success: #93C54B;
$color_brand_info: #29ABE0;
$color_brand_warning: #F47C3C;
$color_brand_danger: #d9534f;
$color_black: #444;
$color_white: #fff;
$color_background: #f5f5f5;
$color_selection: #fff7a8;
$color_link: #2f7dc8;
$color_link_hover: #000;

$font_size_base: 16px;
$font_size_large: ceil(($font_size_base * 1.25));
$font_size_small: ceil(($font_size_base * 0.85));

$margin_narrow: $font_size_base * 1.5;
$margin_wide: $font_size_base * 3;

$screen_xs: 480px;
$screen_sm: 768px;
$screen_md: 992px;
$screen_lg: 1200px;
$screen_xs-max: ($screen_sm - 1);
$screen_sm-max: ($screen_md - 1);
$screen_md-max: ($screen_lg - 1);

html,
body {
  font-family: 'Nanum Gothic', Lato;
  width: 100%;
  color: $color_black;
  font-size: $font_size_base;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  line-height: $margin_narrow;
  //background: $color_background;
  overflow-x: hidden;
  box-sizing: border-box;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e9e9e9;
  margin: 1em 0;
  padding: 0;
}

.fa-btn {
  margin-right: 6px;
}

.alert {
  display: inline-block;
  position: fixed;
  bottom: 50px;
  right: 15px;
  max-width: 450px;
  opacity: .8;
  z-index: 999;
}

#app-layout {
  .docs__sidebar,
  .footer__master {
    margin-top: 20px;
  }
}

@import 'highlight';
@import 'form';
@import 'forum';

